.skeletonSetsMobile svg {
  width: 100% !important;
  height: 100% !important;
}
.skeletonSetsMobile {
  width: 100% !important;
  height: 100% !important;
}
.skeletonReviews svg {
  width: 100% !important;
  height: 100% !important;
  border-radius: 0.5rem;
}
.skeletonReviews {
  width: 100% !important;
  height: 100% !important;
  border-radius: 0.5rem;
}
.skeletonReviewsMobile {
  width: 100% !important;
  height: 100% !important;
  border-radius: 1rem;
}
.skeletonReviewsMobile svg {
  width: 100% !important;
  height: 100% !important;
  border-radius: 1rem;
}
