.wrapper {
  display: flex;
  min-height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.mainContainer {
  width: 65%;
  min-height: 100vh;
  background-color: #e5e5e5;
}
.basketContainer {
  width: 30%;
}
.containerMobile {
  display: none;
  min-width: 350px;
}

///Media///
.mainContainer {
  @media (max-width: 1500px) {
    width: 60%;
  }
  @media (max-width: 1200px) {
    width: 55%;
  }
  @media (max-width: 900px) {
    width: 50%;
  }
}
.basketContainer {
  @media (max-width: 1500px) {
    width: 40%;
  }
}
.wrapper {
  @media (max-width: 700px) {
    display: none;
  }
}
.containerMobile {
  @media (max-width: 700px) {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: #f2f2f2;
  }
}
///Media///
